.map-pin {
  border-radius: 50%;

  &__icon {
    color: white;
    width: 20px;
    height: 20px;
    display: block;
    padding-top: 12px;
    padding-left: 14px;
  }
}

.pin {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-image: linear-gradient(to right, #6758f3, #915cf4 101%);
}
