.buildings {
  display: flex;
  width: 100%;

  &__col {
    width: 50%;
    box-shadow: 1px 0 8px 0 rgba(0, 0, 0, 0.1), 1px 0 0 0 rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    padding: 15px;
  }

  &__headline {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
  }

  &__cards {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
}
